VITE_SUPABASE_URL=https://banfwlbzhlrzkdeczsqq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhbmZ3bGJ6aGxyemtkZWN6c3FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MTE5MDYsImV4cCI6MjA5MjI4NzkwNn0.dqP8yLIztcCJH7YJJaz_3WUhMUbBwa1LhGTNoKd3Nho
VITE_APP_URL=https://www.nsbtek.com